:root {
  --black: #010101;
  --background: #021825ef;
  --white: #dff0e2;
  --fonts: #333333;
  --textCard: #fdfffc;

  /* login and signup colours */
  --color-green: rgba(52, 173, 133, 0.904);
  --dash-background: rgba(138, 196, 178, 0.548);
  --color-grey: #999;
  --color-dark: #000;
  --color-white: #fff;
  --color-light: #eee;

  --card-background: rgba(0, 62, 41, 0.4);

  --hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
  --returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--background); */
  background-color: var(--white);
}
.container-title {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1.3px;
  text-align: center;
  text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
}
.form-container {
  /* background-color: #333; */
  width: 60vw;
  height: 300px;
  margin: 15px auto;
  border-radius: 5px;
  background-image: linear-gradient(
      to right,
      rgba(2, 105, 100, 0.507),
      rgba(4, 138, 172, 0.671)
    ),
    url("./images/formbc1-.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: top; */
  /* background-position: -40px; */

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}
.form-center {
  background-color: rgba(255, 255, 255, 0.705);
  width: 450px;
  height: 100%;
  margin: 1px auto;
  padding: 20px;
}
.task-form {
  margin-top: 5px;
  padding: 8px;
}
.task-form label {
  font-size: 20px;
  font-weight: 400;
  /* line-height: 1.2; */
  letter-spacing: 1.4px;
}
.task-form input {
  width: 80%;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 7px;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.65);
}
.add-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  letter-spacing: 1.2px;
  background-image: linear-gradient(
    to right,
    rgba(46, 224, 135, 0.623),
    rgba(29, 180, 99, 0.726)
  );
}
/* range-input */
.range-container {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.counter-form {
  padding: 0.5rem 0.7rem;
  border: 1px solid #333;
  border-radius: 100%;
  font-size: 1.4rem;
  font-weight: bolder;
  background-color: #fff;
}
.range {
  margin-bottom: 1rem;
  height: 1rem;
  width: 400px;
}
.range::before {
  content: "1";
  font-weight: bold;
}
.range::after {
  content: "5";
  font-weight: bold;
}
.range input {
  overflow-y: hidden;
  padding-top: 0.7rem;
  padding-left: calc(1rem / 3);
  padding-right: calc(1rem / 3);
}
.message-container {
  width: 60vw;
  height: 60px;
  margin: 5px auto;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgba(46, 224, 108, 0.623),
    rgba(29, 180, 160, 0.726)
  );
}
.message-center {
  /* text-align: center; */
  padding: px;
}
.status-text {
  font-size: 2.2rem;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 2px 4px 10px #5d5c5c;
  color: var(--fonts);
  padding: 15px;
}
